# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Data dumps (keep small samples only)
*.csv
*.csv.gz
!samples/sample_transaction.csv.gz
!samples/sample_identity.csv.gz

# Large artifacts (we keep only those in /artifacts)
*.joblib
!artifacts/model_hgb_full.joblib
!artifacts/model_meta.json
!artifacts/cat_mapping.json
!artifacts/common_features.json
